<input type="text" #search>
<select (change)="setSearch($event.target.value)">
  <option *ngFor="let option of options" [value]="option.value">{{option.name}}</option>
</select>
<div class="stickbottom">
  <div>A</div>
  <div>B</div>
  <div>C</div>
  <div (click)="setSearch('sunt')">sunt</div>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">userId</th>
      <th scope="col">title</th>
      <th scope="col">body</th>
      <th scope="col">action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let post of posts$">
      <td>{{ post.id }}</td>
      <td>{{ post.userId }}</td>
      <td>{{ post.title }}</td>
      <td>{{ post.body }}</td>
      <td>
        <button>A</button>
        <button>B</button>
        <button (click)="onDelete(post.id)">DELETE</button>
      </td>
    </tr>
  </tbody>
</table>